.navbar {
    padding: 1.2rem 0;
    z-index: auto;
    min-height: 3.25rem;
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    border: 0;
    justify-content: space-between;
 }
.navbar-item {
    background-color: white;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    align-items: center;
    padding: 0.5rem O.75rem;
    position: relative;
    display: block;
    }

/* .whitebar ::after {
color: white;
width: 50px;
height:50px ;
margin: 10px;
padding: 5px;
border-radius: 10px;
border: 3px solid turquoise;
} */

.navbar-menu a {
    color: white;
    text-decoration: none;
    width: 20px;
    margin: 20px;
    padding: 5px;
    border: 3px solid turquoise;
    border-radius: 10px;
    text-align: center;
    background-color: turquoise;
    }

.perfectgray {
    background-color: #f4f4f4;
}




.hero-body {
    display: flex;
    justify-content: center;
}

.bio-title {
   
    text-align: center;
    width: 500px;
    height: 500px;
    /* border: 3px solid turquoise; */
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

.bio-big-title {
    text-align: top;
    align-items:center;
}

.bio-text {
    text-align: center;
    align-items: center;
}

.photo-bio {
    height: 150px;
    width: 150px;
}

.line {
    width: 90%;
    height: 2px;
    border: 1px solid turquoise;
    margin: auto;
    background-color: turquoise;
    border-radius: 10px;
}

.flexbox-container {
    display: flex;
    width: 400 px;
    height: 100px;
    border: 3px solid turquoise;
    margin-bottom: 30px;
    border-radius: 20px;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid turquoise;
    background-color: white;
    border-radius: 20px;
}

.flexbox-item-1{
    min-height: 50px;
    flex-grow: 1;
}

.flexbox-item-2{
    min-height: 50px;
    flex-grow: 1;
}

.flexbox-item-3{
    min-height: 50px;
    flex-grow: 1;
}

.flexbox-item-4 {
    min-height: 50px;
    flex-grow: 1;
}

.flexbox-item-5 {
    min-height: 50px;
    flex-grow: 1;
}

.flexbox-containeer {
    display: flex;
    justify-content: space-between;
    width: 400 px;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 20px;
    align-items: center;
}
.flexbox-iteem-1 {
    color: white;
    width: 300px;
    height: 30px;
    margin-left: 25px 60px;
    padding: 5px;
    border: 3px solid turquoise;
    border-radius: 10px;
    background-color: turquoise;
    text-align: center;
}

.flexbox-iteem-2 {
    color: white;
    width: 300px;
    height: 30px;
    margin: 20px;
    padding: 5px;
    border: 3px solid turquoise;
    border-radius: 10px;
    background-color: turquoise;
    text-align: center;
}

/* .flexbox-containeer
{
    display: flex;
    width: 400 px;
    height: auto;
    color: aqua;
    border: 3px solid turquoise;
    margin-bottom: 30px;
} 


.flexbox-iteem-1 {
    width: 200px;
    margin: 10px;
    border: 3px solid turquoise;
    background-color: white;
}

.flexbox-iteem-2{
    min-height: 100px;
    flex-grow: 1;
    border: 3px solid turquoise;
    background-color: white;
}



.flexbox-iteem-3{
    min-height: 300px;
    flex-grow: 1;
} */

.flexbox-containeeer
{
    display: flex;
    width: 400 px;
    height: auto;
    color: aqua;
    border: 3px solid turquoise;
    margin-bottom: 30px;
}

.flexbox-iteeem {
    width: 200px;
    margin: 10px;
    border: 3px solid turquoise;
    background-color: white;
    
}

.flexbox-iteeem-1{
    min-height: 100px;
    flex-grow: 1;
}

.flexbox-iteeem-2{
    min-height: 200px;
    flex-grow: 1;
}

.flexbox-iteeem-3{
    min-height: 300px;
    flex-grow: 1;
}

.flexbox-containeeeer
{
    display: flex;
    width: 400 px;
    height: auto;
    color: aqua;
    border: 3px solid turquoise;
    margin-bottom: 30px;
}

.flexbox-iteeeem {
    width: 200px;
    margin: 10px;
    border: 3px solid turquoise;
    background-color: white;
}

.flexbox-iteeeem-1{
    min-height: 100px;
    flex-grow: 1;
}

.flexbox-iteeeem-2{
    min-height: 200px;
    flex-grow: 1;
}

.flexbox-iteeeem-3{
    min-height: 300px;
    flex-grow: 1;
}

.flexbox-containeeeeer

{
    display: flex;
    width: 400 px;
    height: auto;
    color: aqua;
    border: 3px solid turquoise;
    margin-bottom: 30px;
}

.flexbox-iteeeeem {
    width: 200px;
    margin: 10px;
    border: 3px solid turquoise;
    background-color: white;
}

.flexbox-iteeeeem-1{
    min-height: 100px;
    flex-grow: 1;
}

.flexbox-iteeeeem-2{
    min-height: 200px;
    flex-grow: 1;
}

.flexbox-iteeeeem-3{
    min-height: 300px;
    flex-grow: 1;
}

/* css du formulaire contact */

body {
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
}

body h1 {
    text-align: center;
    margin-top: 10%;
}

form {
    margin-right: 15%;
    margin-left: 15%;
    background-color: #F3F3F3;
    padding-left: 15%;
    border-radius: 10px;
}

button {
    background-color: #6BA2CE;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    color: white;
    border: 2px solid #6BA2CE;
    border-radius: 5px;
}

.peace {
    text-align: right;
    padding-right: 5%;
}

/* Formulaire projets */
body {
    /* justify-content: center; */
    /* margin-top: 15%; */
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
}

body h1 {
    text-align: center;
    margin-top: 10%;
}

form {
    margin-right: 15%;
    margin-left: 15%;
    background-color: #F3F3F3;
    padding-left: 15%;
    border-radius: 10px;
}

button {
    background-color: #6BA2CE;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    color: white;
    border: 2px solid #6BA2CE;
    border-radius: 5px;
}

.peace {
    text-align: right;
    padding-right: 5%;
}