/* ****************Barre de navigation************ */
.navbar {
    padding: 1.2rem 0;
    z-index: auto;
    min-height: 3.25rem;
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    border: 0;
    justify-content: space-between;
}

.navbar-item {
    background-color: white;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    align-items: center;
    padding: 0.5rem O.75rem;
    position: relative;
    display: block;
}

.navbar-menu:hover {
    transform: scale(1.05);
}

.navbar-menu {
    transition: .3s;
}

/* .whitebar ::after {
color: white;
width: 50px;
height:50px ;
margin: 10px;
padding: 5px;
border-radius: 10px;
border: 3px solid turquoise;
} */

.navbar-menu a {
    color: white;
    text-decoration: none;
    width: 20px;
    margin: 20px;
    padding: 5px;
    border: 3px solid #4BBAB1;
    border-radius: 10px;
    text-align: center;
    background-color: #4BBAB1;
    box-shadow: white 8px 8px;
    transition: .4s;
}

@media (max-width: 1000px) {
    .navbar {
        padding: .2rem 0;
        z-index: auto;
        justify-self: center;
        min-height: 3.25rem;
        -webkit-box-align: stretch;
        align-items: stretch;
        display: flex;
        align-items: center;
        position: relative;
        margin: 0;
        border: 0;
        justify-content: space-between;
    }
}

/* ************body*********** */

.perfectgray {
    background-color: #f0f0f0;
}

.hero-body {
    display: flex;
    justify-content: center;
}

/* ************Partie bio********* */

.bio-title {
    text-align: center;
    width: 500px;
    height: 500px;
    /* border: 3px solid turquoise; */
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

.bio-big-title {
    text-align: top;
    align-items: center;
}

.bio-text {
    text-align: center;
    align-items: center;
}

.photo-bio {
    height: 150px;
    width: 150px;
}


.line {
    width: 90%;
    height: 2px;
    border: 1px solid #4BBAB1;
    margin: auto;
    background-color: #4BBAB1;
    border-radius: 10px;
}

/* ***************lien vers les réseaux sociaux************** */

.flexbox-container {
    display: flex;
    width: 400 px;
    height: 50px;
    border: 3px solid #4BBAB1;
    margin-bottom: 30px;
    border-radius: 20px;
}

.flexbox-item {
    width: 20px;
    margin: 10px;
    border-radius: 20px;
    transition: .3s;
}

.flexbox-item:hover {
    transform: scale(1.5);
    cursor: pointer
}

.flexbox-item-1 {
    min-height: 10px;
    flex-grow: 1;
}

.flexbox-item-2 {
    min-height: 10px;
    flex-grow: 1;
}

.flexbox-item-3 {
    min-height: 10px;
    flex-grow: 1;
}

.flexbox-item-4 {
    min-height: 10px;
    flex-grow: 1;
}

.flexbox-item-5 {
    min-height: 10px;
    flex-grow: 1;
}

.flexbox-item-6 {
    min-height: 10px;
    flex-grow: 1;
}

.flexbox-item-7 {
    min-height: 10px;
    flex-grow: 1;
}

.flexbox-item-8 {
    min-height: 10px;
    flex-grow: 1;
}

/* ********** Bottom "Réalisons vos projets et CV en ligne"********* */

.flexbox-containeer {
    display: flex;
    justify-content: space-between;
    width: 400 px;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 20px;
    align-items: center;
}

.flexbox-iteem a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.flexbox-iteem-1 {
    color: white;
    width: 300px;
    height: 30px;
    margin-left: 25px 60px;
    padding: 5px;
    border: 3px solid #4BBAB1;
    border-radius: 10px;
    background-color: #4BBAB1;
    text-align: center;
    box-shadow: white 8px 8px;
}

.flexbox-iteem:hover {
    transform: scale(1.05);
}

.flexbox-iteem {
    transition: .3s;
}

.flexbox-iteem-2 {
    color: white;
    width: 300px;
    height: 30px;
    margin: 20px;
    padding: 5px;
    border: 3px solid #4bbab1;
    border-radius: 10px;
    background-color: #4bbab1;
    text-align: center;
    box-shadow: white 8px 8px;
}

.line1 {
    width: 90%;
    height: 2px;
    border: 1px solid #4BBAB1;
    margin: auto;
    background-color: #4BBAB1;
    border-radius: 10px;
}

/* .flexbox-containeer
{
    display: flex;
    width: 400 px;
    height: auto;
    color: aqua;
    border: 3px solid turquoise;
    margin-bottom: 30px;
} 


.flexbox-iteem-1 {
    width: 200px;
    margin: 10px;
    border: 3px solid turquoise;
    background-color: white;
}

.flexbox-iteem-2{
    min-height: 100px;
    flex-grow: 1;
    border: 3px solid turquoise;
    background-color: white;
}



.flexbox-iteem-3{
    min-height: 300px;
    flex-grow: 1;
} */

/* ******************My skills********* */

.skills-tittle {
    text-align: center;
    width: 400px;
    height: 50px;
    border: 3px solid #4BBAB1;
    margin: auto;
    margin-top: 60px;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    align-content: center;
    display: grid;
}

.skills-tittle h2 {
    margin-bottom: 10px;
}

.flexbox-containeeer {
    display: flex;
    width: 400 px;
    height: auto;
    /* border: 3px solid #4BBAB1; */
    margin-bottom: 100px;
    margin-top: 100px;
    border-radius: 10px;
    background-color: white;
    box-shadow: #4BBAB1 8px 8px;
}

.flexbox-iteeem {
    width: 200px;
    margin: 10px;
    border: 1px solid #4BBAB1;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.flexbox-iteeem ul {
    list-style: none;
}

.list-title {
    color: #4BBAB1;
}

.list2-title {
    color: #4BBAB1;
    ;
}

.flexbox-iteeem-1 {
    min-height: 400px;
    flex-grow: 1;
}

.flexbox-iteeem-2 {
    min-height: 400px;
    flex-grow: 1;
}

.flexbox-iteeem-3 {
    min-height: 400px;
    flex-grow: 1;
}

.line2 {
    width: 90%;
    height: 2px;
    border: 1px solid #4BBAB1;
    margin: auto;
    background-color: #4BBAB1;
    border-radius: 10px;
}

/* *************My projects******** */

.projects-tittle {
    text-align: center;
    width: 400px;
    height: 50px;
    border: 3px solid #4BBAB1;
    margin: auto;
    margin-top: 60px;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    align-content: center;
}

.flexbox-containeeeer {
    display: flex;
    width: 400 px;
    height: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    border-radius: 10px;
    margin: 100px;
}

.flexbox-iteeeem {
    width: 300px;
    margin: 10px;
    border: 1px solid #4BBAB1;
    background-color: rgb(230, 229, 229);
    border-radius: 10px;
    background-size: cover;
    position: relative;
}

.flexbox-iteeeem-1 {
    min-height: 200px;
    flex-grow: 1;
    box-shadow: #4BBAB1 8px 8px;
    text-align: center;
    background-image: url(images/projects/bolt\ food.jpg);
}

.project-title1 {
    position: absolute;
    padding-top: 50px;
    padding-left: 20px;
}

.flexbox-iteeeem-b1 {
    color: white;
    text-decoration: none;
    width: 100px;
    margin: 20px;
    padding: 5px;
    border: 3px solid #4BBAB1;
    border-radius: 10px;
    text-align: center;
    background-color: #4BBAB1;
    box-shadow: white 8px 8px;
    position: absolute;
    bottom: 10px;
    right: 3px;
}

.flexbox-iteeeem-b1:hover {
    transform: scale(1.2);
}

.flexbox-iteeeem-b1 {
    transition: .3s;
}

.flexbox-iteeeem-2 {
    min-height: 200px;
    flex-grow: 1;
    box-shadow: #4BBAB1 8px 8px;
    background-image: url(images/projects/jem.png);
}

.flexbox-iteeeem-3 {
    min-height: 200px;
    flex-grow: 1;
    box-shadow: #4BBAB1 8px 8px;
    background-image: url(images/projects/webtv.png);
}

.flexbox-iteeeem-4 {
    min-height: 200px;
    flex-grow: 1;
    box-shadow: #4BBAB1 8px 8px;
    background-image: url(images/projects/actualités.jpeg);
}

.flexbox-iteeeem-5 {
    min-height: 200px;
    flex-grow: 1;
    box-shadow: #4BBAB1 8px 8px;
    background-image: url(images/projects/Kissflow_Digital_Workplace.png);
}

.flexbox-iteeeem-6 {
    min-height: 200px;
    flex-grow: 1;
    box-shadow: #4BBAB1 8px 8px;
    background-image: url(images/projects/aliBABA.png);
}

/* ****************Mon blog******************* */

/* .blog-tittle {
    text-align: center;
    width: 400px;
    height: 50px;
    margin: auto;
    margin-top: 60px;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    align-content: center;
}

.flexbox-containeeeeer {
    display: flex;
    width: 400 px;
    height: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    border-radius: 10px;
    margin: 100px;
}

.flexbox-iteeeeem {
    width: 200px;
    margin: 10px;
    border: 1px solid #4BBAB1;
    background-color: white;
}

.flexbox-iteeeeem-1 {
    min-height: 200px;
    flex-grow: 1;
    box-shadow: #4BBAB1 8px 8px;
    background-image: url(/Users/imacg1/Documents/Portfolio/Images/ec7f8908f0bb2ad30b92a02151d9ff9d.jpg);
    background-size: cover;
}

.flexbox-iteeeeem-2 {
    min-height: 200px;
    flex-grow: 1;
    box-shadow: #4BBAB1 8px 8px;
    background-image: url(/Users/imacg1/Documents/Portfolio/Images/c41356ee652a0e1462e8b09bc781790a.jpg);
    background-size: cover;
}

.flexbox-iteeeeem-3 {
    min-height: 200px;
    flex-grow: 1;
    box-shadow: #4BBAB1 8px 8px;
    background-image: url(/Users/imacg1/Documents/Portfolio/Images/8cd62d575ea226432f52bee0ac4a0999.jpg);
    background-size: cover;
}

.flexbox-iteeeeem-4 {
    min-height: 200px;
    flex-grow: 1;
    box-shadow: #4BBAB1 8px 8px;
    background-image: url(/Users/imacg1/Documents/Portfolio/Images/3d1927ee1235941ffc473d91b3d9713e.jpg);
    background-size: cover;
}

.flexbox-iteeeeem-5 {
    min-height: 200px;
    flex-grow: 1;
    box-shadow: #4BBAB1 8px 8px;
    background-image: url(/Users/imacg1/Documents/Portfolio/Images/ec7f8908f0bb2ad30b92a02151d9ff9d.jpg);
    background-size: cover;
} */

.line3 {
    width: 90%;
    height: 2px;
    border: 1px solid #4BBAB1;
    margin: auto;
    background-color: #4BBAB1;
    border-radius: 10px;
}

/* ***************Certifications************** */

.certification-tittle {
    text-align: center;
    width: 400px;
    height: 50px;
    border: 3px solid #4BBAB1;
    margin: auto;
    margin-top: 60px;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    align-content: center;
}

.flexbox-containeeeeeer {
    display: flex;
    width: 400 px;
    height: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    border-radius: 10px;
    margin: 100px;
}

.flexbox-iteeeeeem {
    width: 200px;
    margin: 10px;
    border: 1px solid #4BBAB1;
    background-color: white;
    border-radius: 10px;
}

.flexbox-iteeeeeem-1 {
    min-height: 200px;
    flex-grow: 1;
    background-image: url(/Users/imacg1/Documents/Portfolio/Images/Certification/1519903949772.jpeg);
    background-size: cover;
}

.flexbox-iteeeeeem-2 {
    min-height: 200px;
    flex-grow: 1;
    background-image: url(/Users/imacg1/Documents/Portfolio/Images/Certification/logo-google.jpg);
    background-size: cover;
}

.flexbox-iteeeeeem-3 {
    min-height: 200px;
    flex-grow: 1;
    background-image: url(/Users/imacg1/Documents/Portfolio/Images/Certification/learning.jpeg);
    background-size: cover;
}

/* ***************References********** */

.References-tittle {
    text-align: center;
    width: 400px;
    height: 50px;
    border: 3px solid #4BBAB1;
    margin: auto;
    margin-top: 60px;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    align-content: center;
}

.flexbox-containeeeeeeer {
    display: flex;
    width: 400 px;
    height: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    border-radius: 100px;
    margin: 100px;
}

.flexbox-iteeeeeeem {
    width: 200px;
    margin: 10px;
    border: 1px solid #4BBAB1;
    background-color: white;
    border-radius: 100px;
    border-radius: 100px;
    background-size: cover;
}

.flexbox-iteeeeeeem-1 {
    min-height: 200px;
    flex-grow: 1;
    background-image: url(/Users/imacg1/Documents/Portfolio/Images/References/Ba.png);
}

.flexbox-iteeeeeeem-2 {
    min-height: 200px;
    flex-grow: 1;
    background-image: url(/Users/imacg1/Documents/Portfolio/Images/References/Diarra.png);
}

.flexbox-iteeeeeeem-3 {
    min-height: 200px;
    flex-grow: 1;
    background-image: url(/Users/imacg1/Documents/Portfolio/Images/References/Birante.png);
}

/* **********Down****** */

.flexbox-containeeeeeeeer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
}

.flexbox-iteeeeeeeem {
    text-decoration: none;
    color: white;
}

.flexbox-iteeeeeeeem:hover {
    transform: scale(1.05);
}

.flexbox-iteeeeeeeem {
    transition: .3s;
}

.flexbox-iteeeeeeeem-1 {
    color: white;
    width: 300px;
    height: 30px;
    margin-left: 25px 60px;
    padding: 5px;
    border: 3px solid #4BBAB1;
    border-radius: 10px;
    background-color: #4BBAB1;
    text-align: center;
    box-shadow: white 8px 8px;
}

.flexbox-iteeeeeeeem-2 {
    color: white;
    width: 300px;
    height: 30px;
    margin: 20px;
    padding: 5px;
    border: 3px solid #4bbab1;
    border-radius: 10px;
    background-color: #4bbab1;
    text-align: center;
    box-shadow: white 8px 8px;
}

.line1 {
    width: 90%;
    height: 2px;
    border: 1px solid #4BBAB1;
    margin: auto;
    background-color: #4BBAB1;
    border-radius: 10px;
}

.line4 {
    width: 90%;
    height: 2px;
    border: 1px solid #4BBAB1;
    margin: auto;
    background-color: #4BBAB1;
    border-radius: 10px;
}

/* *********Copyrights******* */

.Copyrights {
    text-align: center;
    width: 400px;
    height: 50px;
    margin: auto;
    margin-top: 60px;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    align-content: center;
}

/* css du formulaire contact */

body {
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
}

body h1 {
    text-align: center;
    margin-top: 10%;
}

form {
    margin-right: 15%;
    margin-left: 15%;
    background-color: #F3F3F3;
    padding-left: 15%;
    border-radius: 10px;
}

button {
    background-color: #6BA2CE;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    color: white;
    border: 2px solid #6BA2CE;
    border-radius: 5px;
}

.peace {
    text-align: right;
    padding-right: 5%;
}

/* Formulaire projets */
body {
    /* justify-content: center; */
    /* margin-top: 15%; */
    margin-left: 3%;
    margin-right: 3%;
    height: 100%;
}

body h1 {
    text-align: center;
    margin-top: 10%;
}

form {
    margin-right: 15%;
    margin-left: 15%;
    background-color: #F3F3F3;
    padding-left: 15%;
    border-radius: 10px;
}

button {
    background-color: #6BA2CE;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    color: white;
    border: 2px solid #6BA2CE;
    border-radius: 5px;
}

.peace {
    text-align: right;
    padding-right: 5%;
}

.logo-image {
    align-content: center;
}

@media screen and (max-width:400px) {

    .flexbox-containeeer,
    .flexbox-containeeeer,
    .flexbox-containeeeeeer,
    .flexbox-containeeeeeeer {
        flex-wrap: wrap;
    }
}